<aside class="aw-layout-sidebar  js-sidebar">
		<div class="aw-layout-sidebar__content">
    		<nav class="aw-menu  js-menu">
      			<ul class="aw-menu__list">
        			<li class="aw-menu__item  is-active">
          				<a href="#">
            				<i class="fa  fa-fw  fa-file-text"></i><span>Cadastros</span>
            				<i class="aw-menu__navigation-icon  fa"></i>
          				</a>
          				<ul class="aw-menu__list  aw-menu__list--sublist">
            				<li class="aw-menu__item  aw-menu__item--link"><a href="index-cerveja.php">Cervejas</a></li>
          				</ul>
        			</li>
      			</ul>
    		</nav>
		</div>
</aside>